
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1{text-align: center;}
        div{text-align: center;}
    </style>
</head>
<body style="background-color:burlywood;">
		<h1>Vignesh Manikandan - 1002012757</h1> 
        <br>
		<div>	
            <a href="/">Home Page</a>
		</div>	
		<br> <br>
		<div>
		<form method="POST" action="/addpic" >
			Input name<input type = "text" name = "name1" />
			<input type="file" accept="static/*" name = "pic1"/>
			<br>
			<br>
			<input type = "submit" name = "Update"/>
		 </form>
		 </div>
</body>
</html>