<!doctype html>
<html>
	<head>
		<style>
			h1{text-align: center;}
            div{text-align: center;}

		</style>
	</head>
	<body style="background-color:burlywood;">
		
		 <h1>Vignesh Manikandan - 1002012757</h1> 
				
		 <h1>Assignment 1</h1> 
		 <br><br>

		<div class='container'>
			<a href="/all">click here to see all the people</a><br><br>
			<a href="/search">Search a person with name</a><br><br>
			<a href="/update">Update a Keyword with name</a><br><br>
			<a href="/delete">Delete a record with name</a><br><br>
			<a href="/salrange">Check records based on Salary range</a><br><br>
			<a href="/updatesal">Update Salary with name</a><br><br>
			<a href="/addpicture">Add a Picture with name</a><br><br>
			
		</div>
		
	
</html>